body {
    direction: rtl;
    font-family: Tahoma, Helvetica;
    font-size: 16px;
    margin: 0;
    background-color: #fbf9f1;
    overflow-x: hidden;
}
a {
    color: black;
    text-decoration: none;
}
a:hover, a:active {
    outline: 0;
}

.pagetop {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0 0 10px 0;
    overflow: hidden;
}

.ptitle {
    background: url(res/banner.png) right no-repeat;
    width: 1000px;
    height: 50px;
    margin: 0 auto 0 auto;
}

.ham_but {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 44px;
    height: 44px;
    border-radius: 12px;
    background: url(res/hamburger.png) center no-repeat;
    background-color: rgba(0,0,0,0.8);
    display: none;
}

.gal_menu {
    width: 520px;
    margin: 20px auto 0 auto;
}
.gal {
    position: relative;
    margin: 0 0 10px 0;
}
.gal_a {

}
.main_gal_img {
    vertical-align: middle;
}
.main_gal_text {
    position: absolute;
    top: 0;
    color: #ffffff;
    font-size: 24px;
    margin: 10px 20px 0 0;
    text-shadow: 0 0 4px black, 0 0 6px black;
}


.gal_text_menu {
    position: absolute;
    margin: 20px 10px 0px 0;
    padding: 20px 10px 20px 40px;
    z-index: 1;
    font-size: 18px;
}
.gal_text_menu_item {
    margin: 0 0 10px 0;
    padding: 4px;
    /*background: #ededed;*/
    /*border: 0.5px solid #d1d1d1;*/
    border-radius: 3px;
    color: #000;
   /* height: 20px;*/
   /* width: 100px;*/
    /*text-align: center;*/
    transition: text-shadow 0.1s linear;
}

.gal_text_menu_item:hover {
    text-shadow: 0 0 4px #888888;
}

.gal_selected {
    text-shadow: 0 0 3px #888888;
}

.gal_view {
    margin-left: auto;
    margin-right: auto;
    padding-right: 5px;
    padding-left: 5px;
}
.gal_title {
    font-size: 200%;
    margin: 0 0 10px 0;
}

.im_vert, .im_horz {
    margin-left: auto;
    margin-right: auto;
    padding: 0 7px 0 7px;
    margin-bottom: 20px;
}

.im_vert {
    /*width: 700px;*/
    max-width: 700px;

}
.im_horz {
    max-width: 900px;
}
.im_full_img {
    width: 100%;
    vertical-align: middle;
}
.im_full_div {
    position: relative;
}
.im_title {
    font-size: 200%;
    margin-bottom: 5px;
}
.im_desc {
    margin-bottom: 5px;
}

.im_next_div, .im_prev_div {
    position: absolute;
    width: 40px;
    height: calc( 100% - 60px);
    top: 18px;
    border-radius: 8px;
}
.im_next_div:hover, .im_prev_div:hover {
    background-color: #f7f3e0;
}
.im_prev_div {
    right: -60px;
}
.im_next_div {
    right: calc( 100% + 20px );
}
.im_prev_circ, .im_next_circ {
    width: 36px;
    height: 36px;
    margin: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.im_prev_circ, .im_next_circ {
    background-color: #efe9c9;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
}
.im_prev_circ {
    background-image: url(res/prev.png);

}
.im_next_circ {
    background-image: url(res/next.png);
}
.im_next_a, .im_prev_a {
}

.disps {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* width set in js, overrides default */
    width: 800px;
}
.disp_im_div {
    width: 250px;
    position: absolute;
    padding: 0 0 15px 15px;
    /* top, left set in js */
}
.disp_im {
    width: 100%;
    vertical-align: middle;
}
.disp_im_a {
    display: block;
}

.about {
    width: 900px;
    margin: 0 auto 40px auto;
    white-space: pre-wrap;;
}

.about_img {
    float: left;
}

.about h3 {
    margin: 0;
    font-size: 140%;
    font-weight: normal;
}
.about strong {
    font-weight: bold;
}

.about a {
    color: revert;
    text-decoration: revert;
}


@media (max-width: 1250px) and (min-width: 1130px) {
    .disp_im_div {
        width:200px;
    }
    .im_horz {
        max-width: 800px;
    }
}

@media (max-width: 1130px) {
    .disp_im_div {
        width:150px;
    }
    .im_horz {
        max-width: 700px;
    }
}

@media (max-width: 900px) {
    .ham_but {
        display: initial;
    }
    .gal_text_menu {
        background-color: #f7eec8;
        border-radius: 4px;
        box-shadow: 0 0 5px #090909;
        display: none;
    }
}

@media (pointer:none), (pointer:coarse) {
    .gal_text_menu {
        font-size: 32px;
    }
}

@media (max-width: 840px) {
    .im_next_div, .im_prev_div {
        position: absolute;
        width: 35%;
        height: 40px;
        top: calc( 100% + 10px );
        border-radius: 8px;
    }
    .im_next_div {
        right: calc( 100% - 35%);
    }
    .im_prev_circ, .im_next_circ {
        left: 50%;
        transform: translate(-50%, 0);
        top: 0;
    }

    .im_prev_div {
        right: 0;
    }
    .im_vert, .im_horz {
        margin-bottom: 60px;
    }
}
